.discount-badge {
  background: red;
  color: white;
  padding: 12px 16px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
}
.flavor-card {
  min-height: 300px; 
  padding: 25px 18px;
  border-radius: 6px;
  position: relative;
  transition: 0.3s;
  text-align: center;
}
.flavors-section .col-lg-3:nth-child(odd) {
  margin-top: 50px;
}
.flavors-section {
  padding-top: 80px; 
}

.flavor-img-wrapper {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid white;
  overflow: hidden;
  transition: 0.3s;
}
.flavor-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flavor-img-wrapper:hover {
  transform: scale(0.85);
}
.flavor-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 18px;
}
.flavor-text {
  font-size: 13px;
  line-height: 1.5;
  margin: 12px 0;
}